.fc-toolbar {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

/* Center the title and navigation buttons */
.fc-toolbar.fc-header-toolbar {
  display: flex;
  justify-content: center; /* Center the entire toolbar */
  align-items: center; /* Vertically align items */
  gap: 1rem; /* Add spacing between elements */
}

.fc-toolbar-chunk:first-child {
  display: flex;
  gap: 0.5rem; /* Add spacing between prev and next buttons */
}

.fc-toolbar-title {
  font-size: 1.5rem; /* Adjust title font size */
  font-weight: bold;
  margin: 0 1rem; /* Add spacing around the title */
}

.fc-button {
  background-color: #007bff !important;
  color: white !important;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fc-button:hover {
  background-color: #0056b3 !important;
}

.fc-daygrid-day-number {
  font-weight: bold;
  color: #4f5357;
  text-decoration: none;
}

.fc-col-header-cell-cushion {
  font-weight: bold;
  color: #495057;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 768px) {
  /* .fc-toolbar.fc-header-toolbar {
    flex-direction: column;
    align-items: stretch;
  }

  .fc-toolbar .fc-toolbar-chunk {
    margin-bottom: 0.5rem;
    text-align: center;
  } */

  .fc-button {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }

  .fc {
    padding: 0.5rem;
  }
}

.calendar-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.calendar-container .fc {
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

.fc-daygrid-day {
  text-align: left;
  vertical-align: top;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
  border: 1px solid #dee2e6;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.fc-daygrid-day:hover {
  background-color: #f8f9fa;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fc-day-today {
  background-color: #e9ecef !important;
  border: 2px solid #007bff;
  color: #007bff !important;
  font-weight: bold;
}

@media (max-width: 768px) {
  .calendar-container {
    padding: 0;
    height: 75vh;
  }

  .fc-daygrid-day {
    font-size: 0.9rem;
    padding: 0.4rem;
  }
}
